* {
    margin: 0%;
}

.board {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3 , minmax(100px, 1fr));
    grid-auto-rows: 299px;
    background-color: antiquewhite;
    /* background-image: url("./img/hiderSinFondo.png"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;

}

.item {
    /* background-color: aqua;
    border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(100px, 1fr));
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item:hover {
    background-image: url(/img/notsignal.gif);
}

.item-2 {
    border-radius: 15%;
}

.item-2-1 {
    z-index: 1;
    width: 100%;
    height: 300px;
    position: absolute;
    justify-self: center;
    border-radius: 15%;
}

.harry-1 {
    z-index: 2;
    width: 40%;
    position: absolute  ;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
}

.item-2:hover .item-2-1 {
    background-image: url(/img/psicodelia.gif);
}

.item-2:hover .harry-1 {
    background-image: url(/img/psicodelia.gif);
    transform: scale(0%) rotate(360deg);

    transition: transform 3s ease-in;
    transition-delay: 0.5s;
}

.cupa-1 {
    z-index: 2;
    position: absolute;
    width: 42%;
    align-self: center;
    justify-self: center;
}

.cupa-1:hover {
    background-image: url(/img/gif\ sex.webp);
    border-radius: 10%;

    transform: rotate(360deg) rotateY(360deg);

    transition: transform 3s ease-in-out;
    transition-delay: 1s;

}

.item-8:hover {
    background-image: url(/img/marcianoDance.gif);
}

.hider-1{
    z-index: 3;
    position: absolute;
    width: 30%;
    justify-self: center;
    align-self: center;
}

.hider-1:hover {
    background-image: url(/img/hack.gif);
    background-size: 80%;
    background-repeat: no-repeat;

    transform: scaleY(10%);

    transition: transform 1s ease-in-out;
    transition-delay: 1s;
}

.item-5:hover {
    background-image: url(/img/hackFinished.gif);
    background-size: 20%;
    background-repeat: repeat; 
}

.slash-1 {
    z-index: 3;
    position: absolute;
    width: 42%;
    justify-self: center;
    align-self: center;
}

.slash-1:hover {
    background-image: url(/img/codigo.gif);
    background-size: 100%;
    border-top-right-radius: 23%;
}

.item-9:hover {
    background-image: url(/img/js-javascript.gif);
    width: 100%;
    border-top-left-radius: 25%;
}


.item-6:hover {
    background-image: url(/img/oldxxx.gif);
    width: 100%;
    border-bottom-right-radius: 30px;
}




@media screen and (max-width: 1000px){

    .item {
        width: 100%;
    }

    .harry-1 {
        width: 100%;
    }
    .cupa-1 {
        width: 100%;
    }
    .hider-1 {
        width: 100%;
    }
    .slash-1 {
        width: 90%;
    }
    .board{
        grid-auto-rows: 210px;
    }

    .item-5:hover {
        background-image: url(/img/hackFinished.gif);
        background-size: 100%;
        background-repeat: repeat; 
    }

    .item-8:hover {
        background-image: url(/img/marcianoDance.gif);
        background-size: 100%;
    }

    .cupa-1:hover {
        background-image: url(/img/gif\ sex.webp);
        background-size: 100%;
        border-radius: 25%;
    
        transform: rotate(360deg) rotateY(360deg);
    
        transition: transform 3s ease-in-out;
        transition-delay: 1s;
    
    }

}














